<!-- não são necessarias as tags header, body e outras por ja estarem no arquivo principal (model-page)-->
{% extends "model-page.html" %}

{%  block content %}
    <h1>Agendamentos</h1>
    <a href="evento/">
        <button type="button">Novo evento</button>
    </a>
    <div class="title">
        <ul>
            {% for evento in eventos %}
                <li>{{ evento.titulo }} - {{ evento.data_evento }}
                (<a href="evento/?id={{ evento.id }}">Editar</a>
                / <a href="evento/delete/{{evento.id}}/">Excluir</a>)
                </li>
                {% if evento.local %} <!-- Verifica se há um local-->
                    Local: {{ evento.local }}
                    {% else %}
                    Local: Indefinido
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{%  endblock content %}